Filter Results
<p></p>
<%products.forEach(product=>{%>
    <%if (product.productImage.data){%>
        <img  height="250" width="250" src="data:image/<%=product.productImage.contentType%>;base64, 
        <%=product.productImage.data.toString('base64')%>">  
        <%} else if(product.imageURL){%>
            <img  height="250" width="250" src="<%=product.imageURL%>"> 
        <%}%>
        <p></p>
        <a href="/products/<%=product._id%>" style="color: blue;"><%=product.name%></a>
        <p></p>
       Price: <%=product.price%>
        <p></p>
        
        
        
<%})%>

<%-include('../partials/footer')%>