ALL products of category:<%=category.name%>

Filter here
<form method="POST" action="/category/filter">
    <input type="text" placeholder="Minimum Price" name="mini">
    <input type="text" placeholder="Max Price" name="maxi">
    <input type="text" value="<%=category._id%>" name ="category" hidden=true>
    <button type="submit">Filter</button>
</form>


<p></p>
<p></p>
<%products.forEach(product=>{%>
    <%if (product.productImage.data){%>
        <img  height="250" width="250" src="data:image/<%=product.productImage.contentType%>;base64, 
        <%=product.productImage.data.toString('base64')%>">  
        <%}%>
        <p></p>
       Name:  <a href="/products/<%=product._id%>" style="color: blue;"><%=product.name%></a>
        <p></p>
       Price <%=product.price%>
    <p></p>
<%})%>

