

<%if (product.productImage.data){%>
    <img  height="250" width="250" src="data:image/<%=product.productImage.contentType%>;base64, 
    <%=product.productImage.data.toString('base64')%>">  
    <%} else if(product.imageURL){%>
        <img  height="250" width="250" src="<%=product.imageURL%>"> 
    <%}%>
    <p></p>
   Name: <%=product.name%>
    <p></p>
    Price: <%=product.price%>
    <p></p>
    Description: <%=product.description%>
    <p></p>
    Discount <%=product.discount%>
    <p></p>
    stock <%=product.stock%>
    <p></p>
    <p></p>
    Seller <%=product.seller.companyName%>
    <p></p>
    <p>(<a href="/products/<%=product._id%>/review">Reviews</a>)</p>
    <form method="POST"  action="/wishlist">
        <input name="id" value="<%= product._id %>" hidden>
        (<input type="submit" value="+Wishlist">)
    </form>
    <p></p>
    <form method="POST"  action="/cart">
        <input name="id" value="<%= product._id %>" hidden> 
        Add <input type=number min=1 max=15 value=1 name="count"> to cart
        (<input type="submit" value="Go">)
    </form>


Similar products
<p></p>

<%matchedProducts.forEach(product=>{%>
    <a href="/products/<%=product._id%>"><%=product.name%></a>
    <p></p>
    <%if (product.productImage.data){%>
        <img  height="250" width="250" src="data:image/<%=product.productImage.contentType%>;base64, 
        <%=product.productImage.data.toString('base64')%>">  
        <%} else if(product.imageURL){%>
            <img  height="250" width="250" src="<%=product.imageURL%>"> 
        <%}%>
        <p></p>
    
   

   <%})%>