<!-- @url /products/:id -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=product.name%></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <!-- <link rel="stylesheet" href="/css/styles-nav.css"> -->
    <link rel="stylesheet" href="/css/styles-product-details.css">
    <!-- <link rel="stylesheet" href="/css/anotherCSS.css"> -->

    <title>Product</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-nav.css">
</head>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="allElements">
        <div class = "navbar navbar-header">
            <img src="/img/Logo.svg" alt="Logo-Website" class="top-img-Main-Page">
        </div>
        <ul class="navbar-nav">
        </ul>
        <span><a href="/cart"><img class="cart-img" src="img/cart.png" alt=""></a></span>
        <span class="AccountButton nav-bar-text">Account</span>
        <span><a href="#"><img class="sign-out-img" src="img/Sign-out.png" alt=""></a></span>
        </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-fixed-top" style="background-color: #E5E5E5; ">
        <div class="allElements">
            <div class = "navbar-header">
                <a href="/products"><img src="/img/logo.svg" alt="Logo-Website" class="top-img-Main-Page"></a>
            </div>
            <ul class="navbar-nav">
                <li>
                    <div class="elementNavbar">
                        <form method="POST" action="/products/search">
                            <span class="inputProduct"><input type="text" name="searchtext"  class="form-control inputElement" type="text" placeholder="Search Here"></span>
                            <span><button type="submit" class="btn btn-primary productSubmitButton">Submit</button></span>
                        </form>
                    </div>
                </li>
            </ul>
            <span><a href="#"><img class="cart-img nav-bar-option-svg" src="/img/cart.svg"></a></span>
            <span ><a href="#" class="AccountButton nav-bar-option-text">Account</a></span>
            <span><a href="#"><img class="sign-out-img nav-bar-option-svg" src="/img/logout.svg"></a></span>
        </div>
    </nav><br>
    <h2 class="wishlist-title">Product Details : </h2><br><br>
    <div style="width: 90%; height: fit-content; margin: auto;">
        <div style="display: flex;">
                <div style="position: relative; width: 30%;">
                <%if (product.productImage.data){%>
                    <img  class="product-img column" src="data:image/<%=product.productImage.contentType%>;base64, 
                    <%=product.productImage.data.toString('base64')%>">  
                <%} else if(product.imageURL){%>
                    <img  class="product-img column" src="<%=product.imageURL%>"> 
                <%}%>
                </div>
                <div style="position: relative; width: 50%;">
                    <h2 class="product-title"><%=product.name%></h2>
                    <p class="product-seller">Sold by: <%=product.seller.companyName%></p>
                    <p class="product-stock">Stock Left: <%=product.stock%></p>

                    <p class="product-msrp">MSRP: ₹<%=product.price%></p>
                    <p class="product-price">Price: ₹<%=product.price*(1-product.discount/100.0)%></p>
                    <p class="product-discount">discount: <%=product.discount%>%</p>
                    <p><a href="/products/<%=product._id%>/review/"><span style="padding:4px;border: 2px solid black; font-size: 25px; border-radius: 5px;">Reviews</span></a></p>
                    
                </div>
            <!-- <p>(<a href="/products/<%=product._id%>/review">Reviews</a>)</p> -->
        
            <div style="position: relative; display: flex; flex-direction: column;">

            <div style="position: relative; width: 20%;">
            <form method="POST" id="form-add-cart" action="/cart">
                <input name="id" value="<%= product._id %>" hidden> 
                <input id="add-cart-input" type=number min=1 max=15 value=1 name="count" hidden>

            <div class="add-cart">
                    <span id="add-cart-incr"><img class="add-cart-count-img add-cart-incr-img clickable"
                            src="/img/double_chev.svg" onclick="changeCart(1)"></span>
                    <div onclick="addCart()" class="add-cart-main">
                        <span class="add-cart-left clickable">Add</span><span class="add-cart-center clickable"
                            id="add-cart-count">1</span><span class="add-cart-right clickable">to Cart</span>
                    </div>
                    <span id="add-cart-decr"><img class="add-cart-count-img add-cart-decr-img clickable"
                        src="/img/double_chev.svg" onclick="changeCart(-1)"></span>
                </div>
            </form>
            </div>
            <div style="position: relative;">
            <form method="POST" id="form-add-wish"  action="/wishlist">
                <input name="id" value="<%= product._id %>" hidden>
                <span class="add-wish clickable" onclick="addWish()">Add to Wishlist</span>
            </form>
            </div>
        </div>
    </div>
</div><br>
<div class="product-description">
    <p class="product-description-title">Description:</p>
    <p class="product-description-body"><%=product.description%></p>
</div><br><br>
    <h2 class="wishlist-title">Similar Products : </h2><br>
    <div class="all-products-container">
        <%matchedProducts.forEach(product=>{%>
            <div class="common-container allProductsContainerMain">
                <div class="all-products-inside-container">
                    <%if (product.productImage.data){%>
                        <img class="allProducts-Image" src="data:image/<%=product.productImage.contentType%>;base64, 
                        <%=product.productImage.data.toString('base64')%>">  
                    <%} else if(product.imageURL){%>
                        <img class="allProducts-Image" src="<%=product.imageURL%>"> 
                    <%}%> 
                    <!-- <img class="allProducts-Image" src="cart.png" srcset=""><br> -->
                    <div class="item-description" style="margin-left: 10px; margin-right: 10;width: 80%;">
                        <h2 style="font-family: Poppins;font-size: 20px; font-weight: bold;"><%=product.name%></h2>
                        <h4 style="font-family: Poppins;font-size: 20px; font-weight: bold;">Price : <%=product.price%></h4>
                    </div>
                    <br><br>
                    <div class="all-Products-item-buttons" style="margin: auto;">
                        <a href="/products/<%=product._id%>"><button type="button" class="allProducts-add button-text">Details</button></a>
                    </div>
                    
                </div>
            </div>
        <%})%>
    </div>

    <script>
        let cartCount = document.getElementById('add-cart-count')
        let cartCountInput = document.getElementById('add-cart-input')
        function changeCart(change) {
            var orig = parseInt(cartCount.innerText)
            var upd = orig + change
            if (1 <= upd && upd <= 15) {
                cartCount.innerText = upd
                cartCountInput.value = upd
            }
        }
        function addCart(){ document.getElementById('form-add-cart').submit() }
        function addWish(){ document.getElementById('form-add-wish').submit() }
    </script>
</body>

</html>


<!-- 
    
    <br>
    <h2 class="wishlist-title">Product Details : </h2>
    
 -->

        
       <!-- Name: <%=product.name%> -->
        
        <!-- Price: <%=product.price%> -->
        
        <!-- Description: <%=product.description%> -->
        
        <!-- Discount <%=product.discount%> -->
        
        <!-- stock <%=product.stock%> -->
        
        
        <!-- Seller <%=product.seller.companyName%> -->
        
        <!-- <p>(<a href="/products/<%=product._id%>/review">Reviews</a>)</p> -->
        <!-- <form method="POST"  action="/wishlist">
            <input name="id" value="<%= product._id %>" hidden>
            (<input type="submit" value="+Wishlist">)
        </form> -->
        
        <!-- <form method="POST"  action="/cart">
            <input name="id" value="<%= product._id %>" hidden> 
            Add <input type=number min=1 max=15 value=1 name="count"> to cart
            (<input type="submit" value="Go">)
        </form> -->
        

    

    

<!-- </body> -->
<!-- </html> -->


<!-- <%if (product.productImage.data){%>
    <img  height="250" width="250" src="data:image/<%=product.productImage.contentType%>;base64, 
    <%=product.productImage.data.toString('base64')%>">  
    <%} else if(product.imageURL){%>
        <img  height="250" width="250" src="<%=product.imageURL%>"> 
    <%}%>
    
   Name: <%=product.name%>
    
    Price: <%=product.price%>
    
    Description: <%=product.description%>
    
    Discount <%=product.discount%>
    
    stock <%=product.stock%>
    
    
    Seller <%=product.seller.companyName%>
    
    <p>(<a href="/products/<%=product._id%>/review">Reviews</a>)</p>
    <form method="POST"  action="/wishlist">
        <input name="id" value="<%= product._id %>" hidden>
        (<input type="submit" value="+Wishlist">)
    </form>
    
    <form method="POST"  action="/cart">
        <input name="id" value="<%= product._id %>" hidden> 
        Add <input type=number min=1 max=15 value=1 name="count"> to cart
        (<input type="submit" value="Go">)
    </form>


Similar products


<%matchedProducts.forEach(product=>{%>
    <a href="/products/<%=product._id%>"><%=product.name%></a>
    
    <%if (product.productImage.data){%>
        <img  height="250" width="250" src="data:image/<%=product.productImage.contentType%>;base64, 
        <%=product.productImage.data.toString('base64')%>">  
        <%} else if(product.imageURL){%>
            <img  height="250" width="250" src="<%=product.imageURL%>"> 
        <%}%>
        
    
   

   <%})%> -->