Filter here
<%prod_arr = products.map(it=>it._id)%>
<form method="POST" action="/products/filter">
    <input type="text" placeholder="Minimum Price" name="mini">
    <input type="text" placeholder="Max Price" name="maxi">
    <input type="text" value="<%=prod_arr%>" name ="prod_id" hidden=true>
    <button type="submit">Filter</button>
</form>
Search results for <%=query%>
<p></p>
<%products.forEach(product=>{%>
    <%if (product.productImage.data){%>
        <img  height="250" width="250" src="data:image/<%=product.productImage.contentType%>;base64, 
        <%=product.productImage.data.toString('base64')%>">  
        <%}%>
        <p></p>
        <p></p>
        <a href="/products/<%=product._id%>" style="color: blue;"><%=product.name%></a>
        <p></p>
        Price <%=product.price%>
        <p></p>
        
        
<%})%>