<%-include('../partials/header')%>
Search product
<p></p>
<form method="POST" action="/products/search">
    <input type="text" name="searchtext" style="border: 2px solid black;" placeholder="search here">
    <button type="submit"></button>
</form>
ALL PRODUCTS HEREEEE
<p></p>
<%products.forEach(product=>{%>
    <%if (product.productImage.data){%>
        <img  height="250" width="250" src="data:image/<%=product.productImage.contentType%>;base64, 
        <%=product.productImage.data.toString('base64')%>">  
    <%}%>
        <p></p>
        <a href="/products/<%=product._id%>" style="color: blue;"><%=product.name%></a>
        <p></p>
        Price <%=product.price%>
        <p></p>
        
        
        
        
        
<%})%>

<%-include('../partials/footer')%>