Order Summary:
<p></p>

<% cartItems.products.forEach(product => { %>
    
    <%if (product.productImage.data){%>
        <img  height="250" width="250" src="data:image/<%=product.productImage.contentType%>;base64, 
        <%=product.productImage.data.toString('base64')%>">  
        <%} else if(product.imageURL){%>
            <img  height="250" width="250" src="<%=product.imageURL%>"> 
        <%}%>
        <p></p>
        Name: <%=product.name%>
        <p></p>
        Seller: <%=product.seller%>
        <p></p>
        Cost: <%=product.price%>
        <p></p>
        <hr>
<% }) %>
Total: <%=cartItems.total%>
<p></p>
<form action="/payments" method="POST"> 
    Address:
    <p></p>
    Flat <input type="text" name="line1" placeholder="Flat and Building">
    Postal Code <input type="text" name="postal_code" placeholder="400706">
   City  <input type="text" name="city" placeholder="Mumbai">
    State <input type="text" name="state" placeholder="Maharashtra">
    Country <input type="text" name="country" placeholder="India">
    <p></p>
    <%=orderDetails%>
    <input type="text" value="<%=Name%>" hidden=true name="name">
    <input type="text" value="<%=cartItems.total*100%>" hidden=true name="bill">
    <input type="text" value="<%=Name%>'s Order" hidden=true name="description">
    <input type="text" value="<%=orderDetails%>" hidden=true name="orderDetails">
    <p></p>
    <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="<%= key %>" 
        data-amount="<%=cartItems.total*100%>" 
        data-currency="inr" 
        data-name="<%=Name%>" 
        data-description="Billing Counter" 
        data-locale="auto"> 
        
        

        </script> 
        
    </form> 



    
       