<%-include('../partials/header')%>
Search product
<p></p>
<form method="POST" action="/products/search">
    <input type="text" name="searchtext" style="border: 2px solid black;" placeholder="search here">
    <button type="submit"></button>
</form>
ALL PRODUCTS HEREEEE
<p></p>
<%products.forEach(product=>{%>
    <%if (product.productImage.data){%>
        <img  height="250" width="250" src="data:image/<%=product.productImage.contentType%>;base64, 
        <%=product.productImage.data.toString('base64')%>">  
        <%}%>
        <p></p>
        <%=product%>
        <p>(<a href="/products/<%=product._id%>/review">Reviews</a>)</p>
        <form method="POST"  action="/wishlist">
            <input name="id" value="<%= product._id %>" hidden>
            (<input type="submit" value="+Wishlist">)
        </form>
        <form method="POST"  action="/cart">
            <input name="id" value="<%= product._id %>" hidden> 
            Add <input type=number min=1 max=15 value=1 name="count"> to cart
            (<input type="submit" value="Go">)
        </form>
<%})%>

<%-include('../partials/footer')%>